{% extends'parts/base.twig' %}

{% block body %}
    <h1>Home Page</h1>
    {% if user is not null %}
        <p>Hello, {{ user.username|escape }} ({{ user.email|escape }})</p>
    {% else %}
        <p>You are not logged in!</p>
    {% endif %}
{% endblock %}

